
.f {
    font-family: "Trirong", serif;
    text-shadow: 3px 3px 3px #ababab;
    background-color: #ffffff; 
    color: rgb(19, 8, 8); 
}

ul.navbar {
    overflow: hidden;
    background-color: #333;
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
}

ul.navbar li {
    float: left; 
    margin-right: 20px; 
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #111;
}

h1, h3 {
    margin: 0; 
    padding: 0; 
}

h2, input {
    margin: 0; 
    padding: 0; 
}

h2 {
    margin-left: -700px;
    background-color:#FAF0E6; 
    color:rgb(19, 8, 8);
    font-size: 30px;
}
h4 {
    font-size: 30px;
}


.block {
    text-align: center;
    background-color:#FAF0E6; 
}


input {
    font-size: 18px;
    padding: 10px;
    background-color: #F5F5F5;
    width: 20%;
    margin-right: 940px;
}
.search-button {
    width: 5%;
    position: absolute;
    margin-left: -940px;
    background-color: #333;
    padding: 10px;
    color: #f2f2f2;
}

.library-info {
    background-image: url('stock-photo-books-hardcovers-white-brick-wall-educational-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    padding: 20px;
    display: flex; 
    align-items: center; 
}
.Tbooks{
    background-color: #FAF0E6;
}

.library-info h4 {
    font-size: 30px;
    margin-top: -120px; 
    margin-right: -370px;
}

.book img {
    width: 200px; 
    height: auto; 
}
.book {
    margin: 5px; 
    padding: 10px;
    text-align: center; 
}



footer {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}
